data/
results/
*.fastq
*.fastq.gz
*.bam
*.bai
*.vcf
*.vcf.gz
__pycache__/ 
.nextflow/ 
work/
nextflow.log*
.env
*.pem
aws_credentials
.pytest_cache/
.coverage
*.bed
*.bim
*.fam
*.log
.DS_Store
.vscode/
pipeline_report.html
pipeline_timeline.html
pipeline_trace.txt.nextflow*
work/
results/
